@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-text-color:
    --secondary-text-color:
    --main-background-color:
    --secondary-background-color:
}


body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}